@font-face {
    font-family: "DoulosSIL";
    src: url("https://eurphon.info/static/fonts/DoulosSIL.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IBM Plex Serif', serif;
    font-size: 14pt;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-right: 40px;
    margin: 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
}

div#query-output {
    width: 894px;
    min-height: 150px;
    /* border: 1px solid black; */
    border-radius: 2px;
    margin: 0;
    padding: 3px;
}

div#map {
    width: 1440px;
    height: 768px;
    border: 1px solid grey;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0;
}

span.lang-span {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    background-color: beige;
    cursor: pointer;
}

span.lang-span:hover {
    background-color: black;
}

span.lang-span a {
    color: black;
    text-decoration: none;
}

span.lang-span:hover a {
    color: white;
}

textarea#query-string {
    width: 896px;
    height: 150px;
    font-family: "DoulosSIL";
    font-size: 14pt;
}

/* Map-marker styling */
div.circle {
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    border-style: solid;
    width: 8px;
    height: 8px;
}

div.circle-6f6456 { background-color: #6f6456 }
div.circle-cddc49 { background-color: #cddc49 }
div.circle-cb7e94 { background-color: #cb7e94 }
div.circle-e94b30 { background-color: #e94b30 }
div.circle-fee659 { background-color: #fee659 }
div.circle-a1cfdd { background-color: #a1cfdd }
div.circle-fdbab4 { background-color: #fdbab4 }
div.circle-0cea20 { background-color: #0cea20 }
div.circle-7dd97d { background-color: #7dd97d }
div.circle-bcddf7 { background-color: #bcddf7 }
div.circle-f4c674 { background-color: #f4c674 }
div.circle-adf875 { background-color: #adf875 }
div.circle-f4d11e { background-color: #f4d11e }
div.circle-c397ca { background-color: #c397ca }
div.circle-e2f982 { background-color: #e2f982 }
div.circle-f6e39c { background-color: #f6e39c }
div.circle-dd93e1 { background-color: #dd93e1 }
div.circle-26f5cc { background-color: #26f5cc }
div.circle-f04b50 { background-color: #f04b50 }
div.circle-005350 { background-color: #005350 }
div.circle-15a67d { background-color: #15a67d }
div.circle-a0f535 { background-color: #a0f535 }
div.circle-acf9b4 { background-color: #acf9b4 }

div.circle-red { background-color: red; }
div.circle-blue { background-color: blue; }
div.circle-yellow { background-color: yellow; }
div.circle-black { background-color: black; }
div.circle-grey { background-color: lightgrey; }

.announce {
    font-family: sans-serif;
    font-size: 11pt;
    display: none;
}

.blink {
    animation: blinker 1.7s step-start infinite;
    color: red;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.w-border {
    border: 1px solid grey;
}